*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 1100px;
    margin: auto;
    display: flex;
}
.vh100{
    height: 100vh;
}
a{
    text-decoration: none;
    color: white;
}
.flex{
    display: flex;
}
/* beginning of header */
.header-wrapper{
    position: fixed;
    width: 100%;
    background-color: #1a1a37;
    height: 100px;
}
.header-wrapper .container{
    justify-content: space-between;
    align-items: center;
    height: inherit;
}
.nav-wrapper{
    background-color: #ffbc3b;
    width: 50%;
    display: flex;
    height: inherit;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.nav-wrapper a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
/* end of header */

/* beginning of section 1 */
.sec1-wrapper{
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec1-bgc{
    background-color: #1a1a37a2;
}
.txt-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    align-content: center;
}
.slogan{
    color: white;
    font-size: 62px;
    font-weight: bold;
}
.description{
    color: rgb(172, 172, 172);
    margin-bottom: 30px;
}
.button{
    text-align: center;
    line-height: 50px;
    width: 170px;
    height: 50px;
    background-color: #ffbc3b;
}
/* end of section 1 */

/* beginning of section 2 */
.sec2{
    justify-content: center;
    align-items: center;
}
.title{
    color: #1a1a37;
    font-weight: bold;
    font-size: 30px;
}
.icon{
    height: 70px;
    width: 70px;
}
.features{
    width: 700px;
    height: 65%;
}
.row1,.row2{
    justify-content: space-between
}
.row1{
    margin-bottom: 40px;
}
.info{
    width: 40%;
}